# Base
NODE_ENV=development

# General
APP_NAME=AtCoderUserInfoAPI
APP_TITLE=AtCoderUserInfoAPI
APP_DESCRIPTION=AtCoderUserInfoAPI

# Server
HOST=
PORT=
RATE_LIMIT_MAX=
ACCESS_TOKEN=

# GraphQL
HASURA_ENDPOINT=
HASURA_PORT=
HASURA_ADMINSECRET=